*{
  font-family: 'Open Sans', Arial;
  margin: 0;
  padding: 0;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #4F4F4F;
}

#section-one{
  background-color: white;

}

#section-two{
  background-color: grey;

}

#section-three{
  background-color: white;
}

#section-four{
  background-color: grey;
}

#section-five{
  background-color: white;
}

#section-six{
  background-color: grey;
}

#section-seven{
  background-color: white;
}

#section-eight{
  background-color: grey;
}


nav{
  font-size: 15px;
  background-color: #4F4F4F;
  position:fixed;
  width: 100%;
  height: 50px;
  text-align:center;
  opacity: 0.8;
  z-index: 600;
}

nav li{
  display: inline-block;
  margin-left: 60px;
  margin-bottom: -19px;
  padding: 10px 0 10px 0;
}

.first{
  margin-left: 10px;
}

ul{
  width: 100%;
  color: #EDEDED;
}

ul .img{
  background-image: url('media/A-logoform-light.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10px 0 10px 0;
  width: 30px;
  height: 30px;
}

ul .img:hover{
  background-image: url('media/A-logoform.png');
}

nav a{
  text-decoration: none;
  cursor: pointer;
}

nav a:hover{
  transition: .7s;
  color: lightgreen;
}



* {box-sizing:border-box}


.banner .bannerimg{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
}

.banner #bannerimg3{
      background-image: url(media/bannerimg3.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.banner #bannerimg2{
      background-image: url(media/bannerimg2.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.banner #bannerimg1{
      background-image: url(media/bannerimg1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.banner #bannerimg4{
      background-image: url(media/banner-indmeldelse.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.banner #bannerimg5{
      background-image: url(media/banner-priser.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}



.bannerbutton{
      width: 40px;
      height: 40px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      top: 290px;
      z-index: 100;
      opacity: 0.8;
      cursor: pointer;
}

.bannerbutton:hover{
      opacity: 0.9;
}

.bannerbuttonl{
      left: 22px;
      background-image: url(media/left-arrow.png);
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
}

.bannerbuttonr{
      right: 22px;
      background-image: url(media/right-arrow.png);
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
}

.banner .banimg-tekst p{
      color: #A6E48C;
      font-size: 36px;
      padding-top: 12px;
}

.banimg-tekst{
      padding-top: 400px;
      padding-left: 202px;
      text-shadow: 0px 4px 16px #000;
}


footer{
  padding-top: 30px;
  color: #ffffff;
  background-color: #4f4f4f;
  width: 100%;
  float: left;
  height: 220px;
  bottom: 0;
}

.footertext a{
  color: #ffffff
}

.footertext{
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}

.footerpics{
  text-align: center;
}

.copyright{
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
